<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Hello World!</p>
    <p th:if="${num >= 30}">中年</p>
    <p th:if="${num < 30 && num > 18}">青年</p>
    <p th:if="${num < 18 && num >= 12}">少年</p>
    <p th:if="${num < 12}">儿童</p>
    <p th:text="${name}"></p>
    <hr>
    <form th:action="@{/hello/login}" method="post">
        ⽤户名：<input type="text" name="name"/><br/>
        密码：<input type="password" name="password"/><br/>
        <input type="submit" value="登录"/>
    </form>
    <hr>
    <table>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
        </tr>
        <tr th:each="user:${list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:if="${user.gender == 1}">男</td>
            <td th:if="${user.gender == 0}">⼥</td>
        </tr>
    </table>
    <hr>
    date格式化：<span th:text="${#dates.format(date,'yyyy-MM-dd')}"></span><br/>
    当前⽇期：<span th:text="${#dates.createToday()}"></span><br/>
    当前时间：<span th:text="${#dates.createNow()}"></span><br/>
    calendar格式化：<span th:text="${#calendars.format(calendar,'yyyy-MM-dd')}">
</span><br/>
    number百分⽐格式化：<span th:text="${#numbers.formatPercent(number,2,2)}"></span>
    <br/>
    string是否为空：<span th:text="${#strings.isEmpty(string)}"></span><br/>
    string⻓度：<span th:text="${#strings.length(string)}"></span><br/>
    string拼接：<span th:text="${#strings.concat('Hello World',string)}"></span>
    <br/>
    boolean是否为true：<span th:text="${#bools.isTrue(boolean)}"></span><br/>
    arrays的⻓度：<span th:text="${#arrays.length(array)}"></span><br/>
    arrays是否包含张三：<span th:text="${#arrays.contains(array,'张三')}"></span>
    <br/>
    list是否为空：<span th:text="${#lists.isEmpty(list)}"></span><br/>
    list⻓度：<span th:text="${#lists.size(list)}"></span><br/>
    set是否为空：<span th:text="${#sets.isEmpty(set)}"></span><br/>
    set⻓度：<span th:text="${#sets.size(set)}"></span><br/>
    map是否为空：<span th:text="${#maps.isEmpty(map)}"></span><br/>
    map⻓度：<span th:text="${#maps.size(map)}"></span>
</body>
</html>